[2013-06-24 09:44] raulraja opened #2 "Multipart upload support"
As I understand browsing through the code there is no support to upload files in chunks. This is specially important for apps that upload big files. The current API forces to put the whole file in memory in a Byte[] which can easily leave an app without memory with a single upload. Here are a few questions...
1. Are there any plans to support the S3 API's such as http://docs.aws.amazon.com/AWSJava

[2013-07-31 10:15] q42jaap opened #4 "Does S3Signer support IAM roles?"
Hey,

For my local test machine I'm using an IAM user with accessKey and SecretKey, but for on EC2 we're using IAM roles.
Does the S3 object or, the S3Signer support IAM roles?

[2013-07-31 20:40] #4 closed, assigned to nobody

[2013-08-03 11:25] yawboakye opened #5 "api-s3_2.1.0 not found"
I added `"nl.rhinofly"  %% "api-s3" % "3.1.0"` to my Play `2.1` (sbt `0.12.3`, Scala `2.10.1`) dependencies and `resolvers += "Rhinofly Internal Repository" at "http://maven-repository.rhinofly.net:8081/artifactory/libs-release-local"` to my resolvers. I get the following error when I run the application:

<pre><code>[warn] ==== Typesafe Releases Repository: tried
[warn]   http://repo.typesafe.com

[2013-08-03 22:09] #5 closed, assigned to nobody

[2013-08-04 03:23] yawboakye opened #6 "Deleting a file from a bucket"
The documentation (`README.md`) on removing a file from a bucket:

<pre><code>val result = bucket - BucketFile(fileName, mimeType, byteArray, acl, headers)
or
val result = bucket remove BucketFile(fileName, mimeType, byteArray, acl, headers)
</code></pre>

https://github.com/Rhinofly/play-s3/blob/master/app/fly/play/s3/Bucket.scala#L89 parameter should be item name (of type `String`) not `BucketFi

[2013-08-06 06:27] #6 closed, assigned to nobody

[2013-09-10 11:30] atistler opened #7 "support to list buckets"
I did not see any method which would list all buckets for an account. Am I missing something?

[2013-09-23 10:43] #2 closed, assigned to nobody

[2013-09-23 10:53] EECOLOR opened #8 "Add Controller utilities to make multipart uploading easier"
In #2 a [suggestion](https://github.com/Rhinofly/play-s3/issues/2#issuecomment-21678375) for a multipart upload fix was added that would make it easier for endusers to do multipart upload.

This involves an asynchronous handling of the upload while streaming the content using a custom body parser. An actor is probably needed to perform this type of action.

Any suggestions or pull requests are wel

[2013-09-23 13:02] skmvasu opened #9 "Multiple S3 buckets"
I've my contents split in 2 different s3 buckets for various contents. One has images and the other has the Videos. How do I access these 2 buckets using the plugin?

[2013-10-04 19:53] gavares opened #10 "Including Rhinofly S3 results in my Global.onStart being executed twice."
My Global is in a non-standard package (we have our reasons) and including Rhinofly play-s3 results in my Global.onstart being executed twice. There are a host of issues that this causes in my application.

Happy to provide more detailed info if you decide to fix this.

[2013-10-06 15:37] #10 closed, assigned to nobody

[2013-10-11 07:34] #9 closed, assigned to nobody

[2013-10-11 07:34] #7 closed, assigned to nobody

[2013-11-01 21:36] eoliphan opened #12 "Is there any support for creating signed urls?"
Hi, I'm building a play app that delivers some paid content, stored in S3, to end users.   Does this module have any support for the signed url feature?  If not is there something close that I could maybe fork and build upon?

[2013-11-02 06:40] #12 closed, assigned to nobody

[2013-11-18 16:40] cdmckay opened #15 "Multipart upload needs to allow sub-5MB part for last part"
play-s3 has a check in `S3.uploadPart` that makes multipart uploads impossible unless they exactly divisible by `S3.MINIMAL_PART_SIZE`:

[code]

If you look at the example at http://docs.aws.amazon.com/AmazonS3/latest/dev/llJavaUploadFile.html
you'll see that the last part can be less than 5MB.

Simply removing that last check will fix the problem.

In the meantime, you could workaround the bug wi

[2013-11-18 19:30] #15 closed, assigned to nobody

[2014-01-15 11:01] JoaoVasques opened #18 "Cannot load SBT dependencies"
I added the configuration from your read me to my build.sbt and sbt could not find the library. Is anything outdated?

I am using Play 2.2

[code]

[2014-02-17 18:22] mhzajac opened #19 "Paths with special characters and spaces return SignatureDoesNotMatch"
I'm not sure whether or not it is intended for paths to be encoded prior to passing to fly.s3 functions, but I'm having trouble getting this to work:

[code]

[2014-02-19 09:06] #19 closed, assigned to EECOLOR

[2014-04-02 09:20] mfentross opened #21 "Multipart Fileupload"
We are trying to implement an asynchronous action with Play 2.2.2 and Scala and wanted to enable our application to receive imges in form of a multiprt/form-data request. We are then trying to directly forward the received fileparts to s3 server but the Usage part of the documentation doesn't help us with this part. Anyone got an exampe Controller or idea of how to handle the direct upload?

[2014-04-04 12:37] denodaeus opened #22 "Delimiter in s3 request is showing up URL encoded"
T 2014/04/04 08:26:11.320512 192.168.1.15:63084 -> 176.32.98.226:80 [AP]
GET /?delimiter=%2F HTTP/1.1.
Host: MyTestBucket.s3.amazonaws.com.
Date: Fri, 04 Apr 2014 12:26:11 UTC.
Authorization: AWS FOO:BAR=.
Connection: keep-alive.
Accept: _/_.
User-Agent: NING/1.0.

Is causing the request to fail.  Can you not URL encode the request params, or at least have it be configurable? (Right now it's just

[2014-04-14 19:12] denodaeus opened #23 "Listing more than 1000 items in a bucket"
Is there a way to configure this to list more than 1000 items?
Example:

val bucket = S3("my bucket")
bucket list "foo/" // only returns a max of 1000 items

I know this is an amazon limitation of returning 1000 items per request.  I looked at the source in S3.scala and didn't see any special logic handling the case of having more than 1000 items.  You have to keep track of this by putting a marke

[2014-04-14 19:40] #22 closed, assigned to nobody

[2014-05-10 20:30] EECOLOR opened #28 "Library should use Signature Version 4"
The S3 specification has changed. All regions that are created after January 30, 2014 will support _only_ Signature Version 4.

http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html

[2014-05-11 20:09] #23 closed, assigned to nobody

[2014-05-11 20:25] #21 closed, assigned to nobody

[2014-05-11 20:25] #18 closed, assigned to nobody

[2014-05-20 21:44] #28 closed, assigned to nobody

[2014-05-23 23:34] GitsMcGee opened #30 "Is it possible to create a bucket that doesn't already exist?"
Hello,

I just started using the library, and I need the ability to create check if new buckets, if they do not exist. I'm happy to submit a pull request, but first, I first wanted to be sure that
1. This isn't already possible, and somehow, I'm just missing it
2. You agree that this is a good feature for this library

I'm thinking of something along the lines of

[code]

What do you think?

[2014-05-26 22:51] #30 closed, assigned to nobody

[2014-06-14 01:22] neilchaudhuri opened #31 "Scala 2.11 and Play 2.3.0"
I am relatively new to Scala and SBT versioning, and I am using Scala 2.11. Naturally, when I used the method described in the documentation to import play-s3:

"nl.rhinofly" %% "play-s3" % "4.0.0"

I got an error indicating there was no play-s3_2.11 jar, which makes sense after I looked at the repo myself.

But then when I hardcoded the proper version like this

"nl.rhinofly" % "play-s3_2.10" % "

[2014-06-14 21:58] #31 closed, assigned to nobody

[2014-06-22 11:17] waxzce opened #32 "Choose S3 signer version"
Hi

Is it possible to choose the S3 signer version, my backend only support previous ATM

[2014-07-10 12:19] DougC opened #33 "Geting signing failures from one account but not another"
I have an application that is using rhinofly to upload files to S3. I have been developing and testing it against one AWS account with no problems. However, when I change the AWS credentials and other details to refer to a different account I get "SignatureDoesNotMatch" on all requests to S3.

I have verified that the credentials are correct by using them to access the same S3 bucket via a differe

[2014-07-10 14:42] #33 closed, assigned to nobody

[2014-07-23 13:44] slorber opened #34 "Plugin does throw exceptions even if signature is Future"
[code]

The following is unsafe because of the mapping with an S3Response

[code]

If the S3 response is an error, then it will throw an exception instead of returning a Future failure, leading to harded error recovery in the clients.

This could be fixed by using flatMap instead of map:

[code]

[code]

(I haven't tried or compiled this code but you understand my point right?)

[2014-07-23 15:08] #34 closed, assigned to nobody

[2014-07-31 03:58] Enalmada opened #35 "Build on scala 2.11.1"
Awesome utility!  Thanks for making it available.  Could you build on 2.11.1 also?
I think all you need to do is add this to your build.sbt:

[code]

[2014-07-31 18:21] #35 closed, assigned to nobody

[2014-08-14 17:07] DougC opened #36 "Buckets with '.' in their name don't work with https"
I'm using a bucket that has multiple '.' characters in it's name and trying to access it with https. This is failing and I believe it is because the certificate that amazon is using is a single-level wildcard certificate, e.g. for "_.s3-eu-west-1.amanonaws.com". The url for the bucket is being constructed by prepending the bucket name to the base domain name (e.g. "foo.bar.s3-eu-west-1.amanonaws.c

[2014-09-03 05:54] cdmckay opened #38 "Should not be using deprecated play.api.libs.ws library (as of Play 2.3)"

[2014-09-03 05:57] cdmckay opened #39 "Library does not appear to find implicit AwsCredentials anymore"
Since upgrading to 4.0.0 code like `S3(bucket)`  now complains about not being able to find implicit credentials. This was not an issue with 3.3.0.

I was forced to create my own implicit credentials:

[code]

[2014-09-03 21:27] #39 closed, assigned to nobody

[2014-09-13 23:06] tarushbali opened #41 "Bad symbolic reference"
I am getting the following error:

bad symbolic reference to fly.play.aws encountered in class file 'S3.class'.
Cannot access term aws in package fly.play. The current classpath may be
missing a definition for fly.play.aws, or S3.class may have been compiled against a version that's
incompatible with the one found on the current classpath.

I am just trying to get a bucket:

    val bucket = S3("b

[2014-09-14 18:11] #38 closed, assigned to nobody

[2014-09-15 16:03] RobertFischer opened #42 "File Upload"
https://github.com/Rhinofly/play-s3/blob/f612f542596056c6d709f5634f0009c69f1d209a/src/main/java/fly/play/s3/Bucket.scala#L251

From what I'm reading, it looks like we always have to buffer the entire file into memory before we can upload the file to S3. Is this correct, or am I missing an API?

[2014-09-16 18:54] #36 closed, assigned to nobody

[2014-11-10 21:25] SattaiLanfear opened #43 "Pre-Signed URLs for non-GET Actions"
Originally posted in #20.

I need the ability to generate pre-signed urls for http-actions other than GET.  I'm writing a restful play server but I don't want the clients to send the play server the files to upload to S3 - I want the clients to be able to upload them directly to S3 using PUT requests, without giving the clients real credentials for AWS.

Ideally I'd have something along the lines

[2014-12-02 15:55] slorber opened #44 "Can't specify timeout"
Hi

It seems the only way to add a different timeout is by changing global play WS config (ws.timeout). It should be possible to configure a specific timeout for uploads since uploads usually take longer than other request.

[2015-01-01 16:08] neilchaudhuri opened #46 "Possible Bug On Malformed URL"
When I do the following:

bucket.get("some.bad.url")

I get the following immediately:

java.lang.IllegalArgumentException: Illegal character in path at index 174
at java.net.URI.create(URI.java:859)
at fly.play.aws.auth.Request.uri$lzycompute(Request.scala:13)
...

The exception is fine of course, but shouldn't it be wrapped in a Failure within the Future to be unlocked with a recover rather than

[2015-01-02 11:16] EECOLOR commented on #46
I agree, that would simplify recovery for dynamic usage. This would however break backwards compatibility, so I will add it on the next big version bump.

[2015-01-03 22:22] EECOLOR commented on #46
Thinking about that, it's quite tricky. The error happens quite far away from the method call. I am wondering what the benefit would be of catching it into a future failure.

Maybe it helps to know your usecase. For most people this would just be a programming error, for which it's fine to have an early exception with a clear origin. Could you explain your usecase a bit more?

[2015-01-03 22:23] EECOLOR commented on #44
Checkout https://github.com/Rhinofly/play-s3/tree/6.0.0, it's available as `6.0.0-RC1`. It should provide another way to deal with this. If it solves your problem let me know, same for any other problems.

[2015-01-03 22:24] EECOLOR commented on #43
Checkout https://github.com/Rhinofly/play-s3/tree/6.0.0, it's available as `6.0.0-RC1`. Let me know if this solves your problem.

[2015-01-03 22:25] EECOLOR commented on #42
Did you manage to solve it? If so I would like to introduce the solution as a utility in the upcoming `6.0.0` release.

[2015-01-03 22:26] EECOLOR commented on #41
If you still have this problem, please answer the questions and reopen the issue

[2015-01-03 22:26] #41 closed

[2015-01-03 22:27] EECOLOR commented on #8
Closed in favor of #42

[2015-01-03 22:27] #8 closed

[2015-01-03 22:29] neilchaudhuri commented on #46
My use case isn't terribly elaborate. I was simply using the method normally and assumed all errors would be in Futures and coded accordingly. The fact this one wasn't led to weirdness on my end until I figured out the issue.

So it was my bad for assuming.

If it is too much trouble, then I guess simply documenting which exceptions are synchronous and which are asynchronous should be sufficient.

[2015-01-03 22:30] neilchaudhuri commented on #42
Unfortunately, I was under time pressure to get the feature out and pursued an alternate course, so I wasn't able to figure anything out. Sorry about that.

If I get time to play around and come up with something that isn't terrible, I will let you know.

[2015-01-03 23:49] SattaiLanfear commented on #43
I think it does actually.  I haven't had the chance to download it but browsing the code, it looks like I could access `S3.client.signer.signUrl` to create any url required now using the same configuration as the rest of the application.

Thanks.

[2015-01-04 01:07] EECOLOR commented on #43
Ahh, yes. So I should add a method on the bucket to make that more easy I guess.

[2015-02-16 15:58] EECOLOR commented on #46
The problem with that is that errors as the one in this particular example come from Java.

[2015-02-19 01:49] mellster2012 commented on #4
For the example above, something along those lines (assuming play2 support): https://gist.github.com/mellster2012/b4eea2ba0f3d33126d0e

[2015-03-12 13:44] lutnos opened #47 "rename effectively removes server side encryption!"
Hi

I see that rename is implemented as copy then delete.

But the copy made does not mirror any server side encryption of the source and there is now way to specify encryption.

It would be _very_ _desirable_ to be able to specify the encryption of the destination.

It appears that this could be done by making use of Server-Side Encryption Specific Request Headers such as x-amz-server-side​-encry

[2015-03-12 19:17] EECOLOR commented on #47
Thank you for this report.

The part of the documentation that we have missed:

For now, as a workaround instead of using `putCopy`, a `GET` and `PUT` can be used.

It seems we should automatically add the headers from the bucket the same way we do with `put`. We have to see if this gives any conflicts and we need to add a test to make sure that, once fixed, will not be a problem again.

As soon a

[2015-03-13 10:19] lutnos commented on #47
Thanks, yes

Your "get and put" workaround would work, of course, but for us the cost of streaming the content could be a problem.

In our case, we do not actually need to actively copy the encryption header, we know what the header is & should remain - so we can specify it at the rename time.  So I will look to to workaround for our problem by using a signer to add the encryption header.

I can s

[2015-03-13 21:53] EECOLOR commented on #47
In the 6.0.0 branch, the implementation of `putCopy` is a bit easier: https://github.com/Rhinofly/play-s3/blob/6.0.0/src/main/scala/fly/play/s3/S3.scala#L169

val source = "/" + sourceBucketName + "/" + sourcePath

[code]

Using this code outside of the S3 class with extra headers should be trivial.

The `6.0.0` branch is released with version `6.0.0-RC1`.

[2015-03-16 10:48] lutnos opened #48 "rename has problem if more than one "directory" in destination path does not exist, returns NoSuchKey error"
Hi again

I have found another problem using your rename.

I expect the cause is actually a weakness in the underlying AWS put copy using their X-Amz-copy-source header.

If I try to rename an object from say: d1/o1 to d2/o1, then the operation succeeds, even if there is nothing else with a d2 path.

However, if I try to rename an object from d1/o1 to d3/d4/o1, where no d3 path already exists, the

[2015-03-20 14:45] lukaswelte commented on #32
Would be awesome to have since riak cs does still not support AWS 4 authentication.
Anybody did work on this? @waxzce @EECOLOR?

[2015-03-21 17:36] waxzce commented on #32
My fork should support it, but it's ugly...
If it doesn't, i can push the crapy things we build on a project...

But the point is : using AWS sdk is more simple in this case

[2015-03-21 18:04] lukaswelte commented on #32
Thanks for the informations, @waxzce.
Using the AWS SDK is what I did to accomplish my works. Although play-s3 provides a neat api for s3, using the official supported one feels a little more safe and future proof.

[2015-04-09 15:32] EECOLOR commented on #32
It should be a lot easier to support in the `6.0.0` branch: https://github.com/Rhinofly/play-s3/tree/6.0.0

We might be able to use the old Aws3Signer for inspiration: https://github.com/Rhinofly/play-aws-utils/blob/v2.4.2/app/fly/play/aws/auth/Aws3Signer.scala

As you might have noticed, my time to work on this project is very limited

[2015-04-09 15:45] EECOLOR commented on #48
Thank you for reporting this.

On a quick glance I can not find anything about this in the documentation. As soon as I have time to work on this project I will investigate further. Any additional information is of course welcome.

[2015-04-24 13:43] Hayena opened #49 "Request to change https configuration default"
Currently the default for https is `false`, I think in todays world it is more common that `true` would be the default

[2015-06-04 09:10] bwlim opened #51 "Not working with Play 2.4.0"
play-s3 5.0.2 may not be compatible with Play 2.4.0

I've got warning messages while building Play 2.4.0 project -----------------------------------------------

[warn] There may be incompatibilities among your library dependencies.
[warn] Here are some of the libraries that were evicted:
[warn] 	* com.typesafe.play:play-ws_2.11:(2.3.0, 2.3.4) -> 2.4.0 (caller: XXXXplay:XXXXplay_2.11:1.0-SNAPSHOT,

[2015-06-04 09:51] EECOLOR commented on #51
I have not had enough time to work on the library. You might check out `6.0.0-RC1`, however that one has also been compiled with Play 2.3.

[2015-06-05 01:26] bwlim commented on #51
I think Play 2.4 has made breaking changes for WS apis
See WS Client section of Play 2.4 migration guide
  https://www.playframework.com/documentation/2.4.x/Migration24#WS-client
I hope and wait for play-s3 to be updated to support Play 2.4 smoothly~ :D

[2015-06-09 13:24] EECOLOR commented on #49
Agreed, I will add this to 6.0.0

[2015-06-09 13:31] EECOLOR commented on #47
@lutnos Would it be enough for your usecase to augment [the signature of `rename`](https://github.com/Rhinofly/play-s3/blob/6.0.0/src/main/scala/fly/play/s3/Bucket.scala#L132) into:

[code]

[2015-06-10 20:50] timsegraves opened #52 "play-s3-4.0.0 not found"
Hi,

I'm getting the following error with SBT not finding the correct version of the play-s3 plugin.  I'm using Play 2.2.5 and Scala 2.10.4.  I have the following in my plugins.sbt file:

[code]

and am getting the following error:

[code]

I saw this [similar issue](https://github.com/Rhinofly/play-s3/issues/5) for 2.1.0 and was wondering if this might be related.

Any help would be greatly appre

[2015-06-10 21:13] EECOLOR commented on #52
You are adding it as a plugin instead of a library. It should be like this in your build file:

[code]

[2015-06-10 21:23] timsegraves commented on #52
Ah, my bad.  Thanks for pointing me in the right direction!

[2015-06-10 21:23] #52 closed

[2015-07-03 11:12] EECOLOR commented on #51
I hope to be able to release 6.0.0 soon, that would allow me to update the library to 2.4 as well.

[2015-07-03 16:15] #43 closed

[2015-07-03 16:15] #44 closed

[2015-07-03 16:15] #47 closed

[2015-07-03 16:15] #49 closed

[2015-07-03 16:18] EECOLOR commented on #46
I am closing this issue as a 'wont fix'. There are too many potential exceptions that can be thrown.

[2015-07-03 16:18] #46 closed

[2015-07-03 16:29] neilchaudhuri commented on #46
Just to be clear, I raised the issue not because I care about differentiating among exceptions but because I was hoping whatever exception happens can be recovered from the Future. I think handling exceptions from Java libraries is possible though I've never had to do it it. So easy for me to say.

But yeah, if that's too hard to do, then that's cool.

[2015-07-03 19:06] EECOLOR commented on #46
In this case there should be no reason to catch it. It will be caught (at least I hope) on your first test run as it indicates an invalid url which you do not want to leave around.

If you are assigning the url dynamically (from a user form or something similar) then I hope you would validate the url before using using it. So even in this dynamic case the exception would not occur when the applica

[2015-07-29 10:33] ghingis commented on #51
@bwlim You should add this to your build.sbt.
It won't solve the problem, but the least it will mask it and you will be able to run your project againg.
[code]

[2015-08-06 20:40] fooblahblah opened #54 "XAmzContentSHA256Mismatch (2.4.x branch)"
I noticed there was a play_2.4.x branch. I'm not sure what the status of that branch is, but when I try to use it with some existing code, based on the 5.0.2 release using Play 2.3, running under the play 2.4 6.0.0 build I get:

[code]

Any ideas? Sorry if this is a premature bug report.

[2015-08-06 20:44] fooblahblah commented on #54
Ahh, I see this could be related to signer requirement now. Testing...

[2015-08-10 16:33] fooblahblah commented on #54
Seems to still have an issue with signing the request

[2015-08-11 06:45] EECOLOR commented on #54
As soon as I have some time to work on this I will.

The `play 2.4` branch is a development branch, so it's not complete. We will merge it into master once complete and create a `2.3.x` branch just before we do the merge.

[2015-08-11 09:40] EECOLOR commented on #54
Related to #51

[2015-09-14 01:41] neilchaudhuri commented on #51
+1

I have run into the issue as well as I have begun to migrate my Play application to 2.4.3. Is there any movement on this, or would you recommend I refactor to use the Amazon Java APIs? S3 integration is critical for my application.

[2015-09-16 06:39] EECOLOR commented on #51
We have reserved time upcoming friday to upgrade our libraries to Play 2.4

[2015-09-16 12:31] neilchaudhuri commented on #51
Great news. I think I can speak for other users when I say we really love this library and appreciate the time from you and your team.

[2015-09-18 08:15] EECOLOR opened #55 "Use Amazon test suite for signing"
http://docs.aws.amazon.com/general/latest/gr/signature-v4-test-suite.html

[2015-09-18 10:00] EECOLOR commented on #51
The library has been updated. Note that is has been published under a different organisation:

https://github.com/Kaliber/play-s3

[code]

[2015-09-18 10:00] #51 closed

[2015-09-18 10:48] EECOLOR commented on #54
A `2.4` version has been released, please check #51 and the README for details

[2015-09-18 10:48] #54 closed

[2015-09-18 10:54] EECOLOR opened #56 "Set play dependency in build.sbt to 'provided'"

[2015-10-07 14:20] neilchaudhuri opened #57 "Updating Header Information"
Is it possible to update the header information for a key without removing the key and replacing it with the same content but new headers?

Thanks.

[2015-10-07 18:53] EECOLOR commented on #57
Maybe using the `x-amz-metadata-directive`, see http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectCOPY.html#RESTObjectCOPY-requests-request-parameters.

First google result was: http://stackoverflow.com/questions/269840/is-it-possible-to-change-headers-on-an-s3-object-without-downloading-the-entire

[2015-10-07 19:02] neilchaudhuri commented on #57
Right, I know it is theoretically possible using the S3 API directly. I was just curious if play-s3 offered any kind of abstraction or if you had any suggestion beyond the standard guidance. Besides, that SO post is from 2008. Back then, there had only been one Transformers movie. That's how long ago it was.

Thanks.

[2015-10-07 19:02] #57 closed

[2015-10-07 19:10] EECOLOR commented on #57
Haha, I didn't even notice it was that old.

I haven't tried it myself. But you could check the [`S3.putCopy`](https://github.com/Kaliber/play-s3/blob/master/src/main/scala/fly/play/s3/S3.scala#L190) method. Otherwise you could grab an [`S3Client`](https://github.com/Kaliber/play-s3/blob/master/src/main/scala/fly/play/s3/S3Client.scala) which is essentially just a `WSClient` and thus gives you all

[2015-10-07 19:10] EECOLOR commented on #57
If you think we should have an extra abtraction on `S3` or `Bucket` file a pull request or open an issue :-)

[2015-11-18 14:45] raphael-proust opened #58 "`putCopy` is not exposed in high-level operations"
The ability to copy files is useful. Unfortunately, there's no high-level operation for copying files from s3 to s3.

[2015-11-18 14:53] EECOLOR commented on #58
What would be your suggestion?

[2015-11-18 15:18] raphael-proust commented on #58
Add something similar to what is below to the `Bucket.scala` file. Thus allowing `Bucket copy(src,dst)`.

[code]

[2015-11-18 16:22] raphael-proust opened #59 "Don't map results through `unitResponse` to allow logging of errors"
Every response is mapped through `unitResponse`. Whilst it simplifies the return types, it prevents any form of error management.

There are several solutions:
- Let the response through
- Allow the users to pass a continuation as an optional argument (default to `unitResponse`)
- Others?

[2015-11-18 19:45] EECOLOR commented on #59
I most certainly agree with you here. That must have been in there since the beginning. I would suggest using an implicit with a default value. That would keep it source compatible.

Please note that my time at the moment is extremely limited. Feel free to open up some pull requests. If I can squeeze in a few minutes I would be able to review them.

[2015-11-21 11:13] raphael-proust commented on #59
I'll try to do that soon.

[2015-11-25 15:20] n0tel commented on #59
@raphael-proust Hello. When approximately you expect to implement it?

[2015-12-02 17:38] raphael-proust commented on #59
@n0tel haven't gotten around to it yet. I'm part time on the scala-play project and not working on it right now. If you want to have a go, you can.

[2015-12-03 12:15] #56 closed

[2015-12-03 12:41] EECOLOR commented on #32
We are not going to add this feature.

If there is any interest in an `Aws3Signer`, feel free to contribute. The following files can be used as a starting point:

[S3Signer.scala](https://github.com/Kaliber/play-s3/blob/9abdac7fd45050b396de84fdb701cd511d9939ba/app/fly/play/s3/S3Signer.scala)
[S3SignerSpec](https://github.com/Kaliber/play-s3/blob/9abdac7fd45050b396de84fdb701cd511d9939ba/test/fly/pl

[2015-12-03 12:41] #32 closed

[2015-12-03 13:07] EECOLOR commented on #48
I could not reproduce the problem. I have added the suggested tests to the specification as seen in this commit: https://github.com/Kaliber/play-s3/commit/ccf16d77f6b95e7f88c9a09e2858b39168706d01

Please reopen the issue if you have more specific information that allows me to reproduce the issue.

[2015-12-03 13:07] #48 closed

[2015-12-03 13:33] #58 closed

[2015-12-03 13:43] EECOLOR commented on #59
I just had some time to dive into the code.

You can use the usual methods of recovering from failing futures. Something like this would work:

[code]

The signature of the `S3Exception` case class:

[code]

I am closing this issue. If this is too limiting, please reopen the issue with extra information.

[2015-12-03 13:43] #59 closed

[2015-12-03 14:03] EECOLOR commented on #42
I'm closing this for now.

[2015-12-03 14:03] #42 closed

[2016-01-13 09:51] ticofab opened #60 "MalformedXML?"
Hi, all of a sudden I'm getting a S3Exception when trying to upload to a bucket:
[code]
It happens with both 7.0.0 and 7.0.2. Any hint? Thanks for your time and attention!

[2016-01-13 09:54] ticofab commented on #60
My bad. Wrong configuration. Sorry!

[2016-01-13 09:54] #60 closed

[2016-03-20 21:04] neilchaudhuri opened #61 "Incompatibility with Play 2.5"
Play 2.5 has changed the way they make REST calls, and it has broken play-s3 compatibility. Here is the error I get:

java.lang.ClassNotFoundException: com.ning.http.client.Response
    at java.net.URLClassLoader$1.run(URLClassLoader.java:372)
    at java.net.URLClassLoader$1.run(URLClassLoader.java:361)
    at java.security.AccessController.doPrivileged(Native Method)
    at java.net.URLClassLoad

[2016-03-21 15:21] EECOLOR commented on #61
Yes, we plan to support it. Not sure when we will have modified the code to reflect the new changes.

The main body of work is with the streams: https://www.playframework.com/documentation/2.5.x/StreamsMigration25

And the other stuff seems to be just renaming.

[2016-04-06 22:09] EECOLOR commented on #61
@Hayena has been working on this. He however had another project to focus his attention on. @Hayena , will you have time to work on this in the next week or so?

[2016-04-07 06:10] Hayena commented on #61
I will see if I have time tonight to finish this otherwise I'll do it this weekend

[2016-04-28 11:24] EECOLOR commented on #61
Apart from a single failing test it seems the 2.5 branch is functioning (see https://github.com/Kaliber/play-s3/pull/62 for details). As soon as I have some more time I will release it.

[2016-04-29 08:41] bezalel opened #63 "AWS Seoul Region support (ap-northeast-2)"
AWS Asia Pacific Seoul Region(ap-northeast-2) has been opened in Jan. 2016
plz, support ap-northeast-2 region

"ap-northeast-2" -> "s3-ap-northeast-2.amazonaws.com",

https://github.com/Kaliber/play-s3/blob/eb18fe895ebdbd986798e9122a736adaf7dce4dd/src/main/scala/fly/play/s3/S3Configuration.scala

[2016-05-06 08:54] EECOLOR commented on #61
Release `8.0.0` supports Play 2.5

[2016-05-06 08:55] EECOLOR commented on #63
Sorry for the late reaction.

You can work around this limitation by supplying `s3.host` in your configuration. As soon as I have some time to work on it I will add it to the latest release.

[2016-05-06 08:56] #55 closed

[2016-05-07 01:08] bezalel commented on #63
"s3.host" works! thanks :)
------------------
s3.region="ap-northeast-2"
s3.host="s3-ap-northeast-2.amazonaws.com"

[2016-05-09 20:26] neilchaudhuri commented on #61
In order to initialize an S3 instance with S3(bucketName) in the README and tests, you import play.api.Play.current, which is a static reference to Application. This is deprecated.

As described in the [documentation](https://www.playframework.com/documentation/2.5.x/Migration25), the tests should reflect how to use dependency injection to provide the Application. Or possibly take a different appr

[2016-05-09 22:10] EECOLOR commented on #61
Very good point, I totally forgot about that part of the library. As soon as I have a chance, I will fix it. Here we only use the [compile time dependency injection](https://www.playframework.com/documentation/2.5.x/ScalaCompileTimeDependencyInjection) approach in combination with the following signature:

[code]

We should probably add some annotations that help with the Guice version. I however

[2016-05-10 09:57] snaxe opened #64 "Null pointer exception while reading file from s3 bucket in play 2.4.4"
On upgrading play from 2.2.x to 2.4.4, we tried to read file from s3 bucket, but getting NullPointerException on upgrade. However it works fine on the old version. Following are the details:
**build.sbt:**
  "net.kaliber" %% "play-s3" % "7.0.2"

**Application.conf:**
s3.region="us-west-2"
aws.accessKeyId="xxxxxxxxxxx"
aws.secretKey="xxxxxxxxx"
aws.bucket="xxxxxxxx"

**Code for accessing the s3 fil

[2016-05-10 10:56] EECOLOR commented on #64
You probably need the following configuration option:

[code]

[2016-05-11 05:20] snaxe commented on #64
I tried setting it to false but getting same exception.

[2016-05-11 06:20] EECOLOR commented on #64
I misread your code. Please ignore my previous statement. Let me try to see if I can reproduce the problem. It would be helpful if you set up a small, self contained example (including a test bucket with valid credentials) to reproduce the problem.

[2016-05-11 06:22] EECOLOR commented on #64
A few questions:
- What are you using as bucket name?
- Did you try with a new bucket that has no special settings (the error comes from a redirect)?
- Are you behind a proxy?

[2016-05-11 06:38] snaxe commented on #64
The issue is resolved. It was because the region was set to "us-west-2" that was visible on the aws console link. However the contents were hosted on ap-southeast-1.

[2016-05-11 06:43] EECOLOR commented on #64
Oh great! Good to know for future encounters.

[2016-05-11 06:43] #64 closed

[2016-05-20 13:09] karthikeyan-kandasamy opened #65 "Can't add the play-s3 dependency"
I am using play 2.5.3 and I am trying to add the "play-s3" plugin in my build.sbt. But I got the below issue.

[code]

[2016-05-20 13:15] Hayena commented on #65
I am assuming you added the following line to your build.sbt `resolvers += "Kaliber Internal Repository" at "https://jars.kaliber.io/artifactory/libs-release-local"`

[2016-05-20 13:20] karthikeyan-kandasamy commented on #65
@Hayena Thanks for the response.
No. I have added the below lines in my build.sbt

[code]

[2016-05-25 10:23] karthikeyan-kandasamy commented on #65
I can use the plugin after added the resolver -
resolvers += "Kaliber Internal Repository" at "https://jars.kaliber.io/artifactory/libs-release-local"

[2016-05-25 10:23] #65 closed

[2016-05-25 10:49] hubino-testing2 opened #66 "Can't stream S3 video/Image while downloading"
I can't stream the S3 video/Image while downloading. I can able to read the private bucket by using my aws.accessKeyId and aws.secretKey. I have used the below way.

**Code snippet:**
**In HTML:**
[code]

**In Controller:**

[code]

It waits to read the whole file content from S3. But the it doesn't return video to html. If I tried to show the S3 image, it read the whole image content from S3 and

[2016-05-26 13:27] graingert opened #67 "release to maven"

[2016-05-27 07:55] EECOLOR commented on #67
Great suggestion, this however might take a while since releasing to sonatype is quite complicated.

[2016-05-27 07:58] EECOLOR commented on #66
The library does not support streaming out-of-the box. You might want to check out this [thread on stackoverflow](http://stackoverflow.com/questions/27586997/how-to-use-iteratees-and-enumerators-in-play-project-to-stream-data-to-s3/27589990) to get a feel of the complexity. You can also check #42

As for now I recommend you use the library to create an url directly to the file and use that with yo

[2016-05-31 12:32] graingert commented on #67
@EECOLOR it's easy if you release via JCenter on Bintray first

[2016-05-31 15:25] graingert commented on #67
@EECOLOR I've started the ball rolling: https://issues.sonatype.org/browse/OSSRH-22784

[2016-06-30 00:04] GitsMcGee commented on #61
People using Guice can inject the Application and put it into implicit scope, and everything works great. Injecting the Application, however is considered to be a big no no, since it creates circular dependencies (Application depends on the controllers, which depend on everything else, so having something depend on Application completes the circle).

A quick fix could be to simply deprecate the `d

[2016-07-05 09:00] EECOLOR commented on #61
@GitsMcGee agreed. As you might have noticed, my time has been very limited the last few months. If you feel this is very important please create a pull request.

[2016-07-05 18:28] GitsMcGee commented on #61
@EECOLOR Sounds good. I wouldn't say it's hugely important, but it would certainly be nice to have. I'll make a pull request as soon as I have the time.

[2016-07-26 19:19] rmmeans opened #69 "Split Signer into separate project"
I'd like to request that this library be split into two parts, one for AWS signing and the other for S3 which would depend on signing requests. It is essentially just a split right down the package line that already exists.

The reason I'd like to see this is because we'd like to build a Play DynamoDB impl that doesn't require the use of the AWS SDK since it is blocking. We have already proven thi

[2016-07-27 06:13] EECOLOR commented on #69
We had this setup previously: https://github.com/Rhinofly/play-aws-utils

[2016-08-01 06:54] thehappycoder commented on #61
Just got this with play-2.5 and play-s3-8.0.0:
[code]

Replacing implicit Application with implicit client: WSClient, configuration: Configuration didn't help.

[2016-08-01 07:08] thehappycoder commented on #64
I got
[code]
too

Didn't have region set either. The exception could be more readable :-)

[2016-08-02 08:03] EECOLOR commented on #61
@thehappycoder I don't see how this library can cause that problem. Could you maybe create a minimal example that reproduces the problem?

[2016-08-02 08:03] EECOLOR commented on #61
@thehappycoder oh and feel free to create a new issue

[2016-08-03 06:55] thehappycoder commented on #61
@EECOLOR All good. I had a mistake in code.

[2016-08-04 03:36] ceecer1 commented on #61
@EECOLOR  I tried to upload a file in S3 bucket using this library, but I see some strange error as below. I searched a bit about the originalUri in the error but could not find any clues.

I am using play 2.5, and using the following snippet to get the bucket.
lazy val s3 = S3.fromConfiguration(ws, configuration)
lazy val bucket = s3.getBucket(configuration.getString("s3.bucket").get)

play.api.h

[2016-08-04 03:45] thehappycoder commented on #61
@ceecer1 Make sure you have region defined in s3.region configuration prop and make sure you define bucket name. It happened to me in both of these cases.

[2016-08-04 04:33] ceecer1 commented on #61
@thehappycoder Thanks it worked, my bucket didn't require a s3 region.

[2016-09-13 06:36] git4sun commented on #61
@thehappycoder I have the same issue. But I did set s3.region. Where do I define the bucket name except according to the readme: `val bucket = S3("mybucket")`?

[2016-09-13 06:49] EECOLOR commented on #61
@git4sun can you post the error (including the stacktrace)?

[2016-09-13 06:54] git4sun commented on #61
[debug] o.a.n.c.ChannelManager - Closing Channel [id: 0xa7f09993, L:/192.168.4.xx:55153 - R:s3-us-west-2.amazonaws.com/54.231.185.xx:443] [debug] i.n.h.l.LoggingHandler - [id: 0xa7f09993, L:/192.168.4.xx:55153 - R:s3-us-west-2.amazonaws.com/54.231.185.xx:443] CLOSE() [debug] o.a.n.r.NettyRequestSender - Aborting Future NettyResponseFuture{currentRetry=0, isDone=false, isCancelled=false, asyncHandl

[2016-09-13 07:51] EECOLOR commented on #61
Does calling `bucket.url("test", 1)` give you the same error?

[2016-09-13 09:29] git4sun commented on #61
no. The error is caused by this line: `val result = bucket + BucketFile(file.getName, request.headers.get("Content-Type").get, byteArray, None, None)`. More specifically, the `+` causes the error. It seems that the error happened only when actually communicating with S3 server.

[2016-09-13 09:39] EECOLOR commented on #61
What is the output of `bucket.url("test", 1)`

[2016-09-13 09:47] git4sun commented on #61
https://s3-us-west-2.amazonaws.com/mybucket/test?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature={somestring}&X-Amz-Date=20160913T094502Z&X-Amz-SignedHeaders=host&X-Amz-Expires=1&X-Amz-Credential={mykey}%2F20160913%2Fus-west-2%2Fs3%2Faws4_request"

[2016-09-13 09:54] EECOLOR commented on #61
@git4sun That url already shows the problem. Amazon is responding with a `301`, but without a `location` header. The netty code does not expect this:

[code]

And the `parse` function throws a very cryptic error: `assertNotNull(originalUrl, "orginalUri");`

The body of the response of the url you provided contains some clues:

From what I can tell this means that the bucket was created in a region

[2016-09-15 20:38] narayanjr opened #70 "Can only upload text files."
Using Play 2.4.1 and play-s3 version 7.0.2

I am able to upload text files just fine, but when I try anything more complex, images, .ods, .jar files it fails with this error `The provided 'x-amz-content-sha256' header does not match what was computed.`

If I swap "avatar.jpeg" for "text.txt" and "image/jpeg" for "plain/text" in the following code it works. The text file gets uploaded to S3. But if

[2016-09-16 09:46] EECOLOR commented on #70
@narayanjr Let me see if I can reproduce the problem.

[2016-09-16 10:06] EECOLOR commented on #70
I can not reproduce the problem and I can upload my slack avatar without a problem. Could you post the result from your log file?

[2016-09-16 17:26] narayanjr commented on #70
This is the "original xml" logged message and the example image that generated this message.
![avatar](https://cloud.githubusercontent.com/assets/6971369/18595044/edb350d0-7c10-11e6-8b4f-9325e0230614.jpeg)

    <Error>
       <Code>XAmzContentSHA256Mismatch</Code>
       <Message>The provided 'x-amz-content-sha256' header does not match what was computed.</Message>
       <ClientComputedContentSHA

[2016-09-16 17:49] narayanjr commented on #70
Hmmm, I just created another play project just to test this single thing and it seems to work as expected there.  So there is something wrong with my other app.  However I have no idea how/why it's sha256 hash could be different.

[2016-09-17 11:59] EECOLOR commented on #70
Ohw, that is nasty. Those types of bugs are very hard to trace.

A few things to check:
- Check if the security providers are the same (https://docs.oracle.com/javase/8/docs/api/java/security/Security.html#getProviders--)
- Check if the `Array[Byte]` is the same before and after the `Future` completes
- Check your configuration for a proxy that might change the request
- Check if you have the prob

[2016-09-17 21:03] narayanjr commented on #70
So I ended up resorting to cloning the broken project and slowly working my way to making both the working example and broken project look identical.  After doing this for a few hours I finally managed to find the 1 thing that was different between the 2 projects.

My working example was using Play 2.4.2 while my broken App was using 2.4.1.

Here is a bare minimum example of this issue, https://gi

[2016-09-18 18:59] EECOLOR commented on #70
Wow, good find. Thank you for reporting back. It seems to be this commit: [Post binary data 'as is'.](https://github.com/playframework/playframework/commit/fc284ab24162dc4993f7936f47ffa0c1edc09caf)

[2016-09-18 19:04] EECOLOR commented on #70
And a good reminder for me to also test with the exact play versions when reproducing bug reports.

[2016-09-18 19:04] #70 closed

[2016-11-15 09:19] git4sun commented on #61
@EECOLOR thanks.

[2016-11-16 20:32] #61 closed

[2016-11-30 13:45] jtjeferreira opened #71 "SignatureDoesNotMatch when s3.host contains portnumber"
When I specify the s3.host as localhost:8000 requests fail with this error. If I specify localhost and the server is running on 80 it succeeds.

[code]

I found the solution from a similar issue on https://github.com/scality/S3/issues/84

I will try to work on a PR later

[2016-12-29 09:40] will-r opened #72 "Getting a bucket with play 2.5"
The README example seems not to be up to date with Play 2.5. Calling `S3(bucket_name)` throws a 'no implicit application in scope' error. Instead I'm calling it like this, which seems to work:

[code]

Is this broadly right, and if not could you possibly update the example?

[2016-12-29 09:52] Hayena commented on #72
That is one possible approach, another would be is to make the injected application implicit
[code]

or build it with a client and configuration

[code]

[2016-12-29 10:00] #72 closed

[2016-12-29 10:01] EECOLOR commented on #72
Oh, haha @Hayena, did not see your response.

[2016-12-29 10:05] Hayena commented on #72
that's fine, you made a similar alteration as I was planning ;)

[2017-01-03 11:32] will-r commented on #72
Thank you very much for the quick response. I'm using an injected WSClient and all is well.

[2017-02-17 00:12] aleksandr-vin opened #73 "Direct upload sample from the README does not work"
S3 reply:
[code]

[2017-02-20 21:25] aleksandr-vin commented on #73
You need to mention about the post method of the form

[2017-02-20 21:25] #73 closed

[2017-02-21 12:14] EECOLOR commented on #73
@aleksandr-vin Could you propose the changes in https://github.com/kaliber-scala/play-s3/blob/master/README.md?

Click the 'edit' icon and add the documentation that would have prevented problems. Saving it will automatically create a pull request :smile:

[2017-03-15 20:09] neilchaudhuri opened #74 "Scala 2.12?"
Is there any intention of creating a Scala 2.12 version of this library as Play 2.6 (with 2.12 support) is on the horizon?

Thanks.

[2017-03-15 21:16] EECOLOR commented on #74
@neilchaudhuri I currently have quite a lot of work and thus not a lot of time for this open source library. I hope that one of the other members of the kaliber-scala organisation have more time.

You are however very welcome to create a pull request!

[2017-03-17 14:11] Hayena commented on #74
@EECOLOR & @neilchaudhuri I've spend some time to update the library but was unable to fix all the changes done in Play 2.6. I will attempt to finish it up this weekend else I'll commit my progress so if anyone else has time they can round it up.

[2017-03-20 15:20] navispeed opened #75 "README.md should be updated"
In Readme, section Browser upload helpers:4

[code]

Instead of
[code]

Thanks.

[2017-03-20 17:12] EECOLOR commented on #75
Thank you for reporting. You could easily create a pull request by clicking the `edit` button at https://github.com/kaliber-scala/play-s3/blob/master/README.md

[2017-03-26 14:18] #75 closed

[2017-04-06 08:59] jorkzijlstra opened #76 "Using bucketname in host caused the file upload to nest to deep"
Using host: {bucketname}.{region}.amazonaws.com

When uploading a file the file is stored to deep. The bucketName is used twice.
AmazonS3://{bucketName}/{bucketName}/file

[2017-04-06 09:00] jorkzijlstra commented on #76
Using the host without the bucketName works.

Is the host with bucket supported?

[2017-04-06 09:02] EECOLOR commented on #76
https://github.com/kaliber-scala/play-s3/blob/master/src/main/scala/fly/play/s3/S3Client.scala#L20

[2017-05-01 22:16] etspaceman opened #77 "Add encrypted uploads"
This library should be able to support both the server-side and client-side encryption upload options that S3 provides.

[2017-05-02 08:53] EECOLOR commented on #77
You're welcome to create a pull request that adds the feature.

If you feel this is not something you are able to do please provide some links to the corresponding documentation. It would be awesome if you would provide a test case that shows the expected behavior and would turn green once the feature is implemented.

[2017-05-24 17:52] EdgeCaseBerg opened #78 "Republish old versions?"
Hi, we have an application that's using 5.0.2 of this library, and the other day after clearing my local ivy cache I got an error:

[code]

I [looked on maven central](https://search.maven.org/#search%7Cga%7C1%7Ca%3A%22play-s3_2.11%22) and saw that this version is not there anymore. Is there a different place where I can find the old releases? Or do I need to publish this locally in order to use t

[2017-05-24 17:58] EdgeCaseBerg commented on #78
I checked out the github release and published it locally and that worked, but while looking at the build file I noticed

[code]

and so I added `"Rhinofly Internal Release Repository" at "http://maven-repository.rhinofly.net:8081/artifactory/libs-release-local",` to my resolvers and things work fine now. Is this resolver going to keep around these old version or should I be replicating them somew

[2017-05-24 19:36] EECOLOR commented on #78
Only last version was published on maven central. All the older versions were published in our (public) local repository. The url of the repository has changed the old url might go away. The new url will remain there for quite some time: https://jars.kaliber.io/artifactory/libs-release-local/

In other words, change it to the kaliber repo and you will be good.

[2017-05-25 13:05] EdgeCaseBerg commented on #78
great, thank you very much!

[2017-05-27 07:11] #78 closed

[2017-06-29 15:01] klclee opened #79 "is broken for play 2.6?"
Hi, trying to use this in play 2.6.0 I am getting the following:

[code]

[2017-06-29 15:54] EECOLOR commented on #79
It has not been compiled against 2.6, you're welcome to create a pull request

[2017-09-06 21:06] #79 closed

[2017-09-06 21:06] #74 closed

[2017-09-12 06:20] jsasj opened #82 "Getting Error in installation, Unresolved Dependency"
Hello,
I'm using Play 2.5.4
and scala version is 2.11.8
When I try to istall it I'm getting the following error
`sbt.ResolveException: unresolved dependency: net.kaliber#play-s3_2.11;8.0.1: not found`

[2017-09-12 06:27] EECOLOR commented on #82
It seems there is a small error in the documentation. There is no version `8.0.1`, please try `8.0.0`

[2017-09-12 06:31] jsasj commented on #82
That Worked for me, Thanks @EECOLOR

[2017-09-12 06:31] #82 closed

[2017-09-13 18:16] jsasj opened #84 "UNRESOLVED DEPENDENCIES"
`net.kaliber#play-s3_2.11;9.0.0: not found`
play-version:2.6
Scala version:2.11

[2017-09-14 06:33] jsasj opened #85 "RuntimeException: java.lang.NoClassDefFoundError: play/api/libs/ws/WSRequest$class"
With Play version 2.6 and
Scala Version 2.11.8
I'm getting this error
`RuntimeException: java.lang.NoClassDefFoundError: play/api/libs/ws/WSRequest$class`

[2017-09-14 06:34] EECOLOR commented on #84
Yes, we are having trouble getting it to maven. It's in bintray: https://bintray.com/kaliber-scala/maven/play-s3/9.0.0

[2017-09-14 06:36] EECOLOR commented on #84
https://dl.bintray.com/kaliber-scala/maven/

[2017-09-14 06:50] EECOLOR commented on #85
Wat version of play-s3 are you using?

[2017-09-14 06:53] jsasj commented on #84
I don't have Idea on how to add this to my dependency list in build.sbt. Could you please help.

[2017-09-14 06:55] EECOLOR commented on #84
http://www.scala-sbt.org/0.13/docs/Resolvers.html

[2017-09-14 06:55] jsasj commented on #85
8.0.0

[2017-09-14 07:04] jsasj commented on #84
Thanks, Job done

[2017-09-14 07:04] #84 closed

[2017-09-14 07:31] jorkzijlstra commented on #67
Version 9.0.0 has been released to Maven

[2017-09-14 07:31] #67 closed

[2017-09-14 07:32] jorkzijlstra opened #86 "Update package name"
The package name is still the old Rhinofly package. This can be updated to "net.kaliber"

[2017-09-14 07:43] lucianenache commented on #85
Version 8.0.0 is not compatible with play 2.6.x.

Either use play 2.5.x or use 9.0.0 of play-s3 (we are planning on releasing it to Maven these days)

[2017-09-14 07:43] #85 closed

[2017-09-14 07:44] EECOLOR commented on #84
Could you add the snippet you added here for others running into the same problem?

Once we have resolved the maven central issues you can remove the resolver.

[2017-09-14 07:46] EECOLOR commented on #85
9.0.0 is on maven

[2017-09-14 07:46] EECOLOR commented on #84
9.0.0 is on maven

[2017-09-17 22:18] lucianenache commented on #86
I will look into this some time next week

[2017-09-18 06:55] jorkzijlstra commented on #86
I just added this to have a reminder for the next version.

[2017-09-18 06:56] jorkzijlstra opened #87 "make Play-http pluggable"
It would be an idea to make Plat-http pluggable so that you would be able to insert f.i. akka-http instead.

[2017-09-18 07:01] lucianenache commented on #87
That would be awesome, I am curios how different the various web frameworks APIs are if we were to wrap them.

[2017-09-18 10:32] EECOLOR commented on #87
https://github.com/schmitch/play-ws-akka/

[2017-09-19 07:08] jorkzijlstra commented on #87
Had a quick look an it seems that Play-ws is using akka-stream as is akka-http.

[2017-09-19 12:42] lucianenache commented on #87
If I don't recall wrong akka-http is using streams under the hood after they replaced netty with it.
Either way, on going on with this would it be sufficient to provide a trait and then the implementation would just implement it with either play or akka-http, what do you think ?

[2017-09-26 16:41] terdong opened #88 "There is no "ap-northeast-2" region"
please include "ap-northeast-2" region.
I am currently using "s3.host" key

[2017-09-27 06:26] EECOLOR commented on #88
Duplicates #63

[2017-09-27 06:26] #88 closed

[2017-09-27 11:42] terdong commented on #88
Thank you

[2017-09-27 11:44] terdong commented on #88
Thank you

[2017-12-04 11:08] hodga opened #89 "Signature error on non-special url-encoded characters s3"
To reproduce: try to put a file with the name a's.txt or something.

The ' character makes it give a signature error, but S3 should accept this character in file names.

Hopefully I did not miss anything in the docs, but with everything else being so straight forward i kind of expected this also to "just work" :)

[2017-12-06 10:22] EECOLOR commented on #89
Hey @hodga, in order for someone to more easily pick up this issue you should fork the repository and add a test case to https://github.com/kaliber-scala/play-s3/blob/master/src/test/scala/fly/play/aws/Aws4SignerSpec.scala

You are welcome to fix the the problem yourself and provide a pull request.

the documentation of the signing can be found here: http://docs.aws.amazon.com/general/latest/gr/si

[2017-12-06 10:25] EECOLOR opened #90 "Contributors wanted"
Hello,

we are not actively supporting this repository. We welcome any contributor that is actively using this repository and willing to take over the maintenance.

Erik

[2017-12-07 22:34] hodga commented on #89
It seemed simple enough at first, turns out it wasn't, but here is a PR: https://github.com/kaliber-scala/play-s3/pull/91

[2017-12-08 17:59] hodga commented on #89
For people with the same issue the workaround is to encode the filename using AwsUrlEncoder.encodePath:

`BucketFile(AwsUrlEncoder.encodePath("a's.txt"), _, _)`

[2017-12-19 12:59] g-srinivas opened #92 "Add support for ap-south-1 region in S3Configuration object"
object S3Configuration {
  val regionEndpoints = Map(
    "us-east-1" -> "s3.amazonaws.com",
    "us-west-1" -> "s3-us-west-1.amazonaws.com",
    "us-west-2" -> "s3-us-west-2.amazonaws.com",
    "eu-west-1" -> "s3-eu-west-1.amazonaws.com",
    "eu-central-1" -> "s3-eu-central-1.amazonaws.com",
    "ap-southeast-1" -> "s3-ap-southeast-1.amazonaws.com",
    "ap-southeast-2" -> "s3-ap-southeast-2.ama

[2017-12-19 13:46] EECOLOR commented on #92
Related to #63

[2018-05-11 11:18] phutflesz opened #93 "Support for chinese AWS Regions"
S3Configuration.scala:
[code]

[2018-09-13 21:48] hendorog opened #94 "jars.kaliber.io Down and/or very slow"
Is it just me or is this repo down?

I get timeout errors in a clean build.

It's a shame as the module itself works great and has been really handy.

[2018-09-14 06:10] EECOLOR commented on #94
What are you using as resolver url?

[2018-09-14 06:12] Hayena commented on #94
I assume it's the one in the README `resolvers += "Kaliber Internal Repository" at "https://jars.kaliber.io/artifactory/libs-release-local"` since it also seems to be down for me

[2018-09-14 08:06] bluedread commented on #94
Should be fixed now?

[2018-09-14 08:47] hendorog commented on #94
Yes, looks good from here now. Thanks muchley.

[2018-09-14 11:29] #94 closed

[2018-11-02 10:39] nkmittal opened #95 "How to set Content-Disposition header while obtaining pre-signed URL"
I need to set Content-Disposition header while obtaining a pre-signed URL for file downloading from S3. This I need so that the downloaded file name can be specified by the user.
I am using Play 2.5.x + Scala 2.11.11.

[2019-04-10 06:52] jorkzijlstra opened #98 "Unit tests should not be dependent on a AWS S3 bucket"
Currently the Unit tests are dependent on a real existing AWS S3 bucket.

Unit tests should not be dependent in external parties, this should be part of Integration tests and dont belong in the unit test package.

Solition: Mock S3 for unittests and create integrations test.